<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Member Dashbroad</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>Member Menagement</h1>
        <h3><a th:href="@{/admin/login}">Login Admin</a></h3>
        <h3><a th:href="@{/member/login}">Login Member</a></h3>
        <h3><a th:href="@{/register}">Register Member</a></h3>
    </div>
</div>
</body>
</html>